In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('spam.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
#lets group by category and describe it
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [7]:
#lets convert category column to numeric data
#one method is do label encoding
#we will try alternate method -using apply method
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head() #lambda means for all x

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [25]:
#x=df.drop(['Category','spam'],axis='columns')
x=df.Message
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [26]:
y=df.spam
y.head()

0    0
1    0
2    1
3    0
4    0
Name: spam, dtype: int64

In [27]:
#train test split
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [29]:
from sklearn.naive_bayes import MultinomialNB

In [30]:
model=MultinomialNB()

In [31]:
#lets import count vectorizer
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [32]:
#lets do pipelining of these two
from sklearn.pipeline import Pipeline

In [33]:
model1=Pipeline([('vectorizer',cv),('nb',model)])

In [34]:
model1.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [35]:
model1.score(x_test,y_test)

0.9856502242152466

In [37]:
email1=['Hello,how are you?']
model1.predict(email1)

array([0], dtype=int64)

In [38]:
email1=['Congratulations you have won the lottery']
model1.predict(email1)

array([1], dtype=int64)